In [2]:
#Import Dependecies
import pandas as pd

In [5]:
#Path to data
HoP_csv="Resources/HeroesOfPymoli_purchase_data.csv"
#convert data into a Data Frame
HoP_df = pd.read_csv(HoP_csv)

In [10]:
#Display Data Frame
HoP_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
#Display the total number of players

Players_count=len(HoP_df["SN"].unique())
print(Players_count)
#Create Data Frame to display value
Players_count_df=pd.DataFrame({"Total Players":[Players_count]})
Players_count_df

576

   Total Players
0            576

In [38]:
#Run basic calculations to obtain number of unique items, average price, etc.
Item_count=len(HoP_df["Item Name"].unique())
Num_Purchases=len(HoP_df["Purchase ID"].value_counts())
Item_Avg_Price=HoP_df["Price"].sum()/Num_Purchases
Total_Revenue=HoP_df["Price"].sum()

#Create Data Frame
Purchasing_Analysis_Total_df=pd.DataFrame({"Number of Unique Items":[Item_count],
                                        "Average Price":[Item_Avg_Price],
                                        "Number of Purchases":[Num_Purchases],
                                        "Total_Revenue":[Total_Revenue]})

#Format data
Purchasing_Analysis_Total_df["Average Price"]=Purchasing_Analysis_Total_df["Average Price"].astype(float).map("${:.2f}".format)
Purchasing_Analysis_Total_df["Total_Revenue"]=Purchasing_Analysis_Total_df["Total_Revenue"].astype(float).map("${:.2f}".format)
Purchasing_Analysis_Total_df.head()

   Number of Unique Items Average Price  Number of Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77